<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662442395319-v6pit38qpq3l6bjmkebtpfkent1ok7vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662442395319-v6pit38qpq3l6bjmkebtpfkent1ok7vp</string>
	<key>API_KEY</key>
	<string>AIzaSyAXBwM2cfCtsWwycPe7UlHI2TUdKHWbrzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>662442395319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nephroscan</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f46d3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f46d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662442395319:ios:dbe5799d1c015735e9af32</string>
</dict>
</plist>